@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
  --bg-white: #fff;
  --bg-white-100: #E2E2E4;
  --color-white-200: #ECECED;
  --text-base: #4F4B5C;
  --text-black: #110C22;
  --bg-gray: #F8F8F8;
  --color-violet: #F9F8FF;
  --color-violet-100: #E2DCFF;
  --color-violet-200: #7357FF;
  --bg-default-button-hover: hsla(250, 100%, 67%, .8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'General Sans', sans-serif;
  @apply text-[1.6rem];
  @apply bg-[var(--bg-gray)];
}

.input-shadow:focus {
  outline: 1px solid var(--color-violet-200);
  box-shadow: 0px 0px 0px 4px var(--color-violet-100);
}